.cabeçalho {
    background: #6590d6;
    color: rgb(7, 7, 1);
    display: flex;
   ;justify-content: space-around;
}

.cabeçalho-imagem{
width: 20%;
}

."cabeçalho-lista-item"{
    display: inline-block;
    margin: 0, 16px;
}

